/* Learning flex box concept  */

*{
    padding : 0rem;
    margin : 0rem;
    box-sizing : border-box;
}

/* All the direct elements of the div container are now treated as flex items  */
/* If we have so many flex items then we can set flex wrap and nowrap properties as well */
.container{
    display : flex;
    background-color: #333;
    /* By defaul flex direction will be row  */
    /* flex-direction: column; */
    /* we even have column-reverse and row-reverse to set in flex-direction property */
    flex-direction : row;
    flex-wrap: wrap;
    /* flex-wrap: wrap; */
    /* justify-content: flex-end; */
    /*When we align items horizontal*/
    justify-content: center;
    height : 100vh;
    /*When we align items vertical and their must be a height for the parent container*/
    align-items: baseline;
    /* Default value for align-items property is stretch  */
    /* align-content: center; */
    /* align content property -> Align items vertical where there is extra space  */
}

/* .container :last-child{
    flex : 3;
} */

/*We can even add alignment properties to the individual items*/

/* .item1{
    order : 3;
}

.item2{
    align-self: center;
    order : 2;
}

.item3{
    order : 1;
} */

.item{
    border : #f4f4f4 solid 1px;
    text-align: center;
    padding : 0.5rem;
    margin : 0.8rem;
    background-color : #ccc;
    /* We can set flex property to the flex items  */
    /* flex : 1; */
    /* flex property is css3 just like the flex property in expanded widget in flutter  */
    /* flex-basis: 200px; */
    /* flex-basis property is just like setting the width (eg: width : 200px) */
}