*{
    margin : 0rem;
    padding : 0rem;
    box-sizing : border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color : teal;
}

.rotateThings{
    height : 270px;
    width : 270px;
    background-color: salmon;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    /*using the rotate function*/
    transform: rotate(0.25turn);  /* rotates by 90 degrees */
    transform : rotate(0.50turn); /* rotates by 180 degrees */
    transform : rotate(0.75turn); /*rotates by 270 degrees*/
    transform : rotate(1turn); /* rotates by 360 degrees */

    /*Using scale property*/
    transform : scale(1.5); /*scales to 1.5 in both x and y direction*/
    transform : scale(1.3,2); /*scales to 1.3 in x direction and 2 in y direction*/
    transform : scaleX(0.3); /* scales to 0.3 in x direction and y remains the same*/
    transform : scaleY(1.8); /*scales to 1.8 in y direction and x remains the same*/
    transform : scale(1);

    /*Using the translate function*/
    transform : translate(-140px); /*this line is same as transform : translateX(-140px)*/
    transform : translate(50px,-160px); 
    transform : translate(0px,0px);

    /*Using the skew property*/
    transform : skew(0.42turn); /*both line 44 and 45 does the same thing*/ 
    transform: skewX(0.42turn);
    transform : skewY(30deg);
    transform: skew(40deg,-38deg);
    transform : skew(0deg,0deg);

    /*we can use multiple transform properties in one line*/
    /* transform : rotate(0.5turn) scale(1.5) translate(-130px) skew(0.88turn); */

    
}

.rotateThings::after{
    content: '';
    height : 15%;
    width : 15%;
    background-color: red;
    position: absolute;
    top : 50%;
    transform: translateY(-50%);
    opacity: 0.3;
}


.rotateThings p{
    display: inline-block;
    font-size : 1.5rem;
}