*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* styling horizontal nav-bar  */

.nav-bar{
    background-color: #333;
    overflow: auto;
}

.inside-div{
    max-width: 960px;
    margin : auto;
}

.nav-bar h1{
    color: white;
    float: left;
    padding-top: 16px;
}

.nav-bar ul{
    float: right;
}

.nav-bar li{
    list-style : none;
    float: left;
}

.nav-bar li a{
    display: block;
    padding : 25px;
    text-decoration: none;
    color: white;
}

.nav-bar li a:hover{
    color: #F7C08A;
    background-color: #444444;
}

/* styling show-case view  */

.show-case{
    height : 600px;
    background: url('./images/showcase.jpg') no-repeat center center/cover;
    text-align: center;
}

.contents-show-case{
    color: white;
    font-size: 20px;
    position: relative;
    top: 30%;
}

.contents-show-case a{
    text-decoration : none;
    color : white;
    display: inline-block;
    padding : 10px 20px;
    background-color : #444444;
}

.contents-show-case a:hover{
    background-color: #F7C08A;
    color : #000;
}

/* styling history of the hotel */

.history-div img{
    height : 380px;
    width : 50%;
    float: left;
}

.content-div{
    height : 380px;
    background-color : #333;
    color : white;
    text-align: center;
    display: inline-block;
    width : 50%;
}

.position-div{
    position: relative;
    top: 15%;
}

.position-div h2{
    padding-bottom: 20px;
}

.position-div p{
    text-align: center;
    line-height: 1.7em;
    padding : 12px;
}

.position-div a{
    display: inline-block;
    text-decoration : none; 
    padding : 15px;
    color : black;
    background-color: #f4f4f4;
    margin-top: 10px;
}

.position-div a:hover{
    background-color: #F7C08A;
}

/* styling icons section */

.icons-div,.icons-contact-div{
    overflow: auto;
}

.box-cls,.box-contact-cls{
    float: left;
    width: 33.33%;
    text-align: center;
    height : 260px;
}

.box-cls i, .box-contact-cls i{
    font-size: 50px;
    padding : 20px;
}

.box-cls h3, .box-contact-cls h3{
    padding-bottom: 30px;
}

.box-cls p, .box-contact-cls p{
    text-align: center;
    padding: 0px 20px;
    line-height: 1.5em;
}

#box-2{
    background-color: #F7C08A;
}

/* styling footer section */

.footer{
    background-color : #444444;
    height : 80px;
}

.footer p{
    position: relative;
    text-align : center;
    top: 40%;
    color: white;
}


/* styling forms in the contact page */

.form-container{
    max-width: 960px;
    margin : 10px auto;
}

.label-cls{
    display: block;
    padding-bottom: 5px;
}

.input-cls{
    padding : 10px 0px;
}

.input-cls input{
    width: 100%;
    height: 35px;
}

.input-cls input:focus{
    outline-color: #F7C08A;
}

.input-cls textarea{
    width: 100%;
}

.input-cls textarea:focus{
    outline-color: #F7C08A;
}

.form-container button{
    border : none;
    display: inline-block;
    font-size: 20px;
    padding : 10px 20px;
    background-color: #444444;
    color: white;
}
.form-container button:hover{
    background-color: #F7C08A;
    color: black;
}
.box-contact-cls{
    background-color: #333 !important;
    color: white;
}
.icons-contact-div{
    background-color: #333;
}
.box-contact-cls{
    margin-top: 40px;
}

/* Styling about section using css */

.about-hotel-section{
    overflow: auto;
}

.text-div{
    width: 50%;
    float: left;
    min-height: 100%;
    padding: 40px;
    position: relative;
    left: 5%;
}

.text-div h1,p{
    padding-bottom: 15px;
}

.text-div p{
    line-height: 2.0em;
}

.about-image-div{
    overflow: auto;
}

.about-image-div img{
    display: block;
    margin : auto;
    padding-top: 20px;
    max-width: 60%;
    border-radius: 100%;
}

/* styling reviews section in about page */

.reviews-div{
    background: url('./images/test-bg.jpg') center center/cover;
    text-align: center;
    overflow: auto;
}

.review-1, .review-2{
    overflow: auto;
    margin: auto;
    background-color: #EAB785;
    border-radius: 8px;
    opacity: 0.9;
    margin: 20px;
}

.review-1 img, .review-2 img{
    border-radius: 100%;
    width : 10%;
    float: left;
    padding : 10px;
}

.review-1 p, .review-2 p{
    display: block;
    width: 100%;
    padding: 15px 0px;
    text-align: justify;
    line-height: 1.6em;
    color: #333;
}

.review-1{
    margin-bottom: 20px;
}

.review-2{
    margin-bottom: 30px;
}